ul
  li
    div Adresse: 
    a(href='https://goo.gl/maps/1on7UuKzVe52', target='_blank') Lundekroken 21, 3940 Porsgrunn
  li
    div Epost: 
    a(href='mailto:post@vikre.no', target='_blank') post@vikre.no
  li
    ul
      li
        div Telefon: 
        a(href='tel:+4735554006') 35 55 40 06
      li
        div Mobil: 
        a(href='tel:+4790116311') 901 16 311
