header
  #menu-mobile
    span
  nav
    ul
      li
        a#nav-1(href='index.html') Hjem
      li
        a#nav-2(href='produkter.html') Produkter
      li
        a#nav-3(href='trivia.html') Trivia
      li
        a#nav-4(href='montering.html') Montering
      li
        a#nav-5(href='om.html') Om oss
