/*----MAIN ELEMENTS----*/

::selection{
  background: $accent-color-1;
  color: $light-color
}

html{
  background-image: url('../img/bg.png');
  background-color: #EEE
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  align-items: center;
  overflow-x: hidden;

  span,span:before,span:after{
    background: $light-color;
    box-shadow: 0 0 3px rgba(0,0,0,.5)
  }

}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: calc(100vh - 64px)
}

section{
  display: flex;
  flex-direction: column
}

/*----/MAIN ELEMENTS----*/

/*----OTHER ELEMENTS----*/

button{
  background: transparent;
  text-align: center;
  color: $accent-color-1;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  transition: .2s ease-out;
  font-size: .9em;
  padding: 5px 28px 5px 12px;
  margin: 0 5px;
  &::after{
    content: '';
    width: 16px;
    position: absolute;
    margin: 2px 0 0 4px;
    height: 16px;
    background-size: cover
  }
  &:hover{
    color: $light-color;
    background: $accent-color-1
  }
}

#toast{
  display: block;
  position: fixed;
  top: 0;
  margin: auto;
  background: $accent-color-2;
  color: $light-color;
  padding: 5px 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5px $dark-color;
  animation: slideInTop .4s forwards;
  z-index: 1000
}

.toast-out{
  animation: slideOutTop 0.3s forwards !important
}

/*----/OTHER ELEMENTS----*/

@media screen{
  @media (min-width: 960px){

    main{
      max-width: 80vw;
      min-height: 0
    }

  }

  @media (min-width: 1280px){

    main{
      flex-grow: 0;
      max-width: 60vw
    }

  }

  @media (min-width: 1440px){main{max-width: 50vw}}

}
