
/*----MAIN ELEMENTS----*/

::selection{background: $accent-color-1;color: $light-color}

html {
  background-image: url('../img/bg.png');
  background-color: #EEE;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

section{
  display: flex;
  flex-direction: column;
}

/*----/MAIN ELEMENTS----*/

/*----OTHER ELEMENTS----*/

img {
  vertical-align: middle;
}

button {
  background: transparent;
  text-align: center;
  color: $accent-color-1;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  transition: .2s ease-out;
  font-size: .9em;
  padding: 5px 28px 5px 12px;
  margin: 0 5px;
  &::after {
    content: '';
    width: 16px;
    position: absolute;
    margin: 2px 0 0 4px;
    height: 16px;
    background-size: cover;
  }
  &:hover {
    color: $light-color;
    background: $accent-color-1;
  }
}

@media screen {

  @media (min-width: 960px){
    main{
      max-width: 80vw
    }
  }
  @media (min-width: 1280px){
    main{
      flex-grow: 0;
      max-width: 60vw;
    }
  }
  @media (min-width: 1440px){
    main{
      max-width: 50vw
    }
  }

}



/*----/OTHER ELEMENTS----*/
