/*------------------------------------------------------------------------
-------------------------------MEDIA QUERIES------------------------------
------------------------------------------------------------------------*/
@media screen and (max-width: 1556px) {

  header nav ul li a {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 960px) {

  #menu-mobile {
    display: flex;
  }
  .tabs-in {
    display: flex !important;
    animation: slideInLeft 0.3s forwards;
  }
  .tabs-out {
    display: flex !important;
    animation: slideOutLeft .3s forwards;
  }
  header nav {
    position: fixed;
    display: none;
    height: calc(100vh - 48px);
    width: 100vw;
    z-index: 999;
    ul {
      flex-wrap: wrap;
      li {
        box-sizing: border-box;
        border-top: 1px solid $accent-color-2;
        width: 50vw;
        &:nth-child(odd) {
          border-left: 1px solid $accent-color-2;
        }
        &:hover {
          box-shadow: inset 0 0 10px $dark-color;
          margin: 0;
        }
      }
    }
  }
  .active-menu {
    box-shadow: inset 0 0 10px $dark-color;
    margin: 0;
  }
  header nav ul li {
    a {
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      min-width: 100%;
      min-height: 100%;
      padding: 0;
      font-size: $base-font-size*1.8;
      text-transform: uppercase;
    }
    &:first-child {
      border-left: none;
      border-top: none;
      order: 1;
    }
    &:nth-child(3) {
      border-top: none;
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
      min-width: 100vw;
      flex-grow: 1;
    }
    &:nth-child(4), &:nth-child(5) {
      order: 3;
    }
    a::before {
      content: '';
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 24px;
      height: 24px;
    }
    &:first-child a::before {
      background-image: url('../img/icons/home.svg');
    }
    &:nth-child(2) a::before {
      background-image: url('../img/icons/shop.svg');
    }
    &:nth-child(3) a::before {
      background-image: url('../img/icons/info.svg');
    }
    &:nth-child(4) a::before {
      background-image: url('../img/icons/settings-2.svg');
    }
    &:last-child a::before {
      background-image: url('../img/icons/us.svg');
    }
  }


  footer {
    position: relative;
    z-index: 1000;
    border-top: 1px solid $dark-color;
    max-height: 48px;
    padding: 0px;
  }
  #footer-desktop {
    display: none;
  }
  #footer-mobile {
    display: flex;
  }
  .home-footer {
    box-shadow: none;
  }
}

@media screen and (max-width: 960px) and (orientation: landscape) {
  footer {
    min-height: 36px;
  }
}

/**
 * Toast menu
 */

#toast {
  display: block;
  position: fixed;
  top: 0;
  margin: auto;
  background: $accent-color-2;
  color: $light-color;
  padding: 5px 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5px $dark-color;
  animation: slideInTop .4s forwards;
  z-index: 1000;
}

.toast-out {
  animation: slideOutTop 0.3s forwards !important;
}
