/*----RESET----*/

*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',sans-serif;
  border: none;
  &:focus{
    outline: none
  }
}

a{text-decoration: none}

img{vertical-align: middle}

li{list-style-type: none}

p{text-align: justify}

/*----/RESET----*/
