
/*----TYPOGRAPHY----*/
h1,a {
  color: $accent-color-1
}
h4,li{
  color: $accent-color-2
}
a {
  font-size: $base-font-size*1.1;
}

p{
  font-size: $base-font-size;
  padding: 2.5vmin 2.5vmin 7.5vmin 2.5vmin;
}

h1 {
  font-size: $base-font-size*1.8;
}

h2 {
  align-self: flex-start;
  font-size: $base-font-size*1.3;
  padding: 7.5vmin 0 0 2.5vmin;
  text-transform: uppercase;
}
@media screen {
  @media (min-width:960px){
    h2 {
      font-size: $base-font-size*1.6
    }
  }

  @media (min-width: 1440px){
    a,p {
      font-size: $base-font-size*1.1;
    }
    p{
      padding: 2.5vmin;
    }
    h2{
      padding-top: 0;
    }
  }
}
/*----/TYPOGRAPHY----*/
