//output:../../montering/index.html
doctype html
html(lang='no')
head
  title Velkommen til gabionbutikken.no
  include ../MODULES/head.html
body

  include ../MODULES/header.html

  section
    h2 Montering

  include ../MODULES/footer.html
