//output:../index.html
doctype html
html(lang='no')
  head
    title Velkommen til gabionbutikken.no
    include modules/head.html
  body

    header.home-header
      include modules/header.html

    section.home
      h1 Velkommen til gabionbutikken.no!
      #picture
        .shade
        img#slideshow(src="assets/img/gabion/1.jpg" alt="Slideshow bilder")
      #left-bg
      article
        h2 Om gabioner
        .article-wrap
          p Gabioner er <strong>nettingkasser som fylles opp med stein</strong> for bygging av gjerder, steinvegger, støtte murer, dammer og annet. Gabionene kan stables inntil og oppå hverandre og <strong>brukes både som dekorative vegger og fasader</strong>. Gabioner kan benyttes til alt fra støttemur, støyskjerming og fasader
          p til flomsikring. Gabioner er meget <strong>godt egnet som erosjonssikring</strong> og benyttes ofte ved veibygging og damsikring, men også som rimelig <strong>støttemur på privat eiendom</strong>. En mur bygget med gabioner kan håndstables, og fylles opp med spade eller en minigraver.
        button Les mer
    footer.home-footer
      include modules/footer.html

    script(type="text/javascript" src="assets/js/global.js")
    script(type="text/javascript" src="assets/js/homepage.js")
    script(type="application/ld+json" async)
      include ../assets/schema.json
