//output:../montering.html
doctype html
html(lang='no')
head
  title Montering - Gabionbutikken
  include modules/head.html
body

  header
    include modules/header.html

  section

  footer
    include modules/footer.html

  script(type="text/javascript" src="assets/js/global.js")
