//output:../om.html
doctype html
html(lang='no')
head
  title Om oss - Gabionbutikken
  include modules/head.html
body

  header
    include modules/header.html

  section.about
    h3 Litt mer om oss
    .info
      p <strong>Vikre Handel AS</strong> startet opp i år 2000. Vi importerer forskjellige varegrupper til landet fra USA og Kina. Vi er lokalisert ved Lundedalen i Porsgrunn Kommune, rett ved den gamle E-18 traseen gjennom Heistad sentrum. Den nye E 18 går bare noen få kilometer vekk fra oss. Det er lett å stikke innom hvis du er på gjennomreise. Vår virksomhet består i dag <strong>hovedsakelig</strong> av <strong>import og salg av gabioner, hengere, små og store plasthaller,amerikanske smykkeskrin og sølvtøykister</strong> og mye
        a(href='http://vikre.no') mer
        |.
      .sjef
        div
          h4 Daglig sjef
          img(src='assets/img/about/thorleif.png')
          h5 Thorleif Vikre
          a(href='mailto:post@vikre.no') post@vikre.no
        div
          h4 Salgsjef
          img(src='assets/img/about/kjell.png')
          h5 Kjell Østlid
          a(href='mailto:kjell@vikre.no') kjell@vikre.no

  footer
    include modules/footer.html

  script(type="text/javascript" src="assets/js/global.js" async)
