//output:../produkter.html


mixin article(index)
    span.tab(data-tab=index)
      if block
        block
      else
         No content provided
mixin articleContent(index)
  .item-container(data-tab=index)
    .cart-btn-container
      button.cart-add Legg til i handlekurv
      input.cart-val(value="0", type="text")
      button.cart-remove Fjern fra handlekurv
    if block
      block


doctype html
html(lang='no')
head
  title Produkter - Gabionbutikken
  include modules/head.html
body

  header
    include modules/header.html

  section.products

    #products-container
      #tabs
        - var n = 0;
        while n < 11
          +article(n++)= ''


      #item-containers
        each val, index in [,'','','','','','','','','','']
          +articleContent(index)

        #cart-container
          textarea#cart-results(readonly)
          #cart-controls
            p Dette er din handlekurv. Trykk send for å sende en mail til oss, så svarer vi så fort som mulig.
            div
              button#send-cart-mail Send
              button#copy-cart-contents Kopier tekst
              button#clear-cart-contents Tøm handlekurv

  footer
    include modules/footer.html

  script(type="text/javascript" src="assets/js/global.js")
  script(type="text/javascript" src="assets/js/products.js")
