//output:../produkter.html
doctype html
html(lang='no')
  head
    title Produkter - Gabionbutikken
    include modules/head.html
  body

    header
      include modules/header.html
      button#choose-product Velg fra produkter

    section#products
        h2 produkter
        #item-tabs

        div#noname
          #item-containers
          #shopping-cart
            textarea#cart-results(readonly)
            span#toggle-cart Skjul handlekurven
            #cart-control
              p Dette er din handlekurv. Trykk send for å sende en mail til oss, så svarer vi så fort som mulig.
              div
                button#send-cart-mail Send
                button#copy-cart-contents Kopier tekst
                button#clear-cart-contents Tøm handlekurv

    footer
      include modules/footer.html

    script(type="text/javascript" src="assets/js/global.js")
    script(type="text/javascript" src="assets/js/products.js")
    script(type="application/ld+json")
      include ../assets/schema.json
