//output:../spesifikasjoner.html
doctype html
html(lang='no')
head
  title Velkommen til gabionbutikken.no
  include modules/head.html
body

  include modules/header.html

  section
    h2 Spesifikasjoner

  div#tabs-container
    div#tabs
      span.tab(data-tab="1") Gabion 1
      span.tab(data-tab="2") Gabion 2
      span.tab(data-tab="3") Gabion 3
    div#tab-containers
      div.tab-container(data-tab="1") Gabioner er helt genialt.
      div.tab-container(data-tab="2") Faktisk er gabioner det beste som finnes.
      div.tab-container(data-tab="3") Alle elsker Michail.

  include modules/footer.html

  script(type="text/javascript" src="assets/js/global.js")
  script(type="text/javascript" src="assets/js/specifications.js")
