//output:../spesifikasjoner.html


mixin article(index)
    span.tab(data-tab=index)
      if block
        block
      else
         No content provided
mixin articleContent(index)
  .tab-container(data-tab=index)
    .cart-btn-container
      button.cart-add +
      input.cart-val(value="0")
      button.cart-remove -
      if block
        block
      else
        p No content provided


doctype html
html(lang='no')
head
  title Velkommen til gabionbutikken.no
  include modules/head.html
body

  header
    include modules/header.html

  section
    h2 Spesifikasjoner

  #tabs-container
    #tabs
      - var n = 0;
      while n < 8
        +article(n++)= 'Gabion '+n

    #tab-containers
      each val, index in ['Gabioner er helt genialt.', 'Faktisk er gabioner det beste som finnes.', 'Torjus elsker Michail.','Here','is some','text ','about','gabions']
        +articleContent(index)
           p= val

  #cart-container
    textarea#cart-results(readonly)
    #cart-controls
      button#send-cart-mail Mail
      button#select-cart-contents Select
      button#clear-cart-contents Clear
      span 66661337

  footer
    include modules/footer.html

  script(type="text/javascript" src="assets/js/global.js" async)
  script(type="text/javascript" src="assets/js/specifications.js")
