//output:../spesifikasjoner.html


mixin article(index)
    span.tab(data-tab=index)
      if block
        block
      else
         No content provided
mixin articleContent(index)
  .tab-container(data-tab=index)
    .cart-btn-container
      button.cart-add +
      input.cart-val(value="0", type="text")
      button.cart-remove -
    if block
      block


doctype html
html(lang='no')
head
  title Spesifikasjoner - Gabionbutikken
  include modules/head.html
body

  header
    include modules/header.html

  section.specifications

    #tabs-container
      #tabs
        - var n = 0;
        while n < 11
          +article(n++)= ''


      #tab-containers
        each val, index in [,'','','','','','','','','','','']
          +articleContent(index)

        #cart-container
          textarea#cart-results(readonly)
          #cart-controls
            button#send-cart-mail Mail
            button#select-cart-contents Select
            button#clear-cart-contents Clear
          p Dette er din handlekurv. Trykk på mail, hvis du vil sende ønskelisten din til oss.

  footer
    include modules/footer.html

  script(type="text/javascript" src="assets/js/global.js" async)
  script(type="text/javascript" src="assets/js/specifications.js")
