//output:../trivia.html
doctype html
html(lang='no')
head
  title Trivia - Gabionbutikken
  include modules/head.html
body

  header
    include modules/header.html

  section
    h1 Trivia

  footer
    include modules/footer.html

  script(type="text/javascript" src="assets/js/global.js")
