
/*----ABOUT SUBPAGE----*/

#about main {
  flex-grow: 0;
  max-width: 50%;
  align-items: stretch;
  border-left: 1px solid $accent-color-1;
  border-right: 1px solid $accent-color-1;
  padding: 10px 40px;
}


#sjef {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.sjef {
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  a {
    font-size: .9em;
  }
}

.info p a {
  padding-left: .3em;
}

/*----/ABOUT SUBPAGE----*/
