
/*----ABOUT SUBPAGE----*/
#about{
  p{
    a{
      padding-left: 5px
    }
  }
  section{
    &:first-of-type{
      padding: 0 10vmin
    }
  }
}
#sjef{
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    border-radius: 50%;
    height: 40vmin;
    padding: 5px 0;
    width: 40vmin;
  }
}
.sjef{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.5vmin;
}

@media screen and (min-width:640px) and (orientation:landscape) {
  #about{
    h2,p{
      padding: 0
    }
    section{
      &:first-of-type{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
      }
    }
  }
  #sjef{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    img{
      height: 33.333vmin;
      width: 33.333vmin;
    }
  }
  .sjef{
    padding: 0
  }
}

/*----/ABOUT SUBPAGE----*/
