
/*----HOME SUBPAGE----*/

#home {
  position: relative;
  overflow: hidden;
  h1 {
    margin: -5% -25% 5% 0;
  }
  article {
    align-self: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50%;
    margin-left: 3%;
    h2 {
      margin-left: 2%;
      text-align: left;
    }
    p {
      max-width: 50%;
      box-sizing: border-box;
      &:first-of-type {
        border-right: 1px solid $accent-color-1;
      }
    }
    button {
      padding: 10px 40px;
      margin-top: 30px;
      border: 1px solid $accent-color-1;
    }
  }
}

#picture {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  img {
    min-width: 70vw;
    min-height: 100vh;
  }
}

#left-bg {
  position: absolute;
  min-width: 85%;
  min-height: 100%;
  background: url('../img/bg.png');
  background-color: #eee;
  transform: skewX(-45deg);
  z-index: -1;
  left: -25%;
  box-shadow: -5px -5px 10px 10px rgba(0, 0, 0, 0.5);
}

/*----/HOME SUBPAGE----*/
