/*----MONTERING SUBPAGE----*/

#assembly {
  justify-content: flex-start;;

  main {
    justify-content: flex-start;
    background: $light-color;
    display: flex;
    border: $border-4;
    flex-grow: 1;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: hidden;
  }
}

#assembly-intro {
  padding: 1em;

  h2 {
    margin: 0;
    padding: 0;
  }

  p {
    padding: 0;
    margin-top: 1em;
  }
}

#assembly-controls, #prog-bar, #assembly-btn-next, #assembly-btn-back{
  display: flex;
}

#assembly-controls {
  width: 100%;
}

#assembly-btn-next, #assembly-btn-back {
  background: $accent-color-3;
  color: #FFF;
  width: 25%;
  margin: 0;
  border-radius: 0;
  justify-content: center;
}

#assembly-btn-next:after {
  content: '';
  background-image: url('../img/icons/next.svg');
  background-size: cover;
  height: 16px;
  width: 16px;
  margin-top: 2px;
}

#assembly-btn-back:before {
  content: '';
  background-image: url('../img/icons/left.svg');
  background-size: cover;
  height: 16px;
  width: 16px;
  margin-top: 2px;
}

#prog-bar {
  width: 50%;

  li {
    flex-grow: 1;
    background: #f9f9f9;
    padding: 10px 0;
    transition: 0.3s ease-in-out;
    text-align: center;
    cursor: pointer;

    &.prog-bar-element-active {
      background: $accent-color-1;
      color: #FFF;
    }

    &:hover {
      background: #E9E9E9;
      font-weight: bold;
      color: #000;
    }
  }
}

.content-container {
  padding: 1em;
  flex-wrap: wrap;
  animation: slideInRight 1s forwards;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;

  p {
    margin: 1em 0 0 0;
    padding: 0;
  }
}

.content-text, .content-pictures {
  width: 100%;
}

.content-text {
  p:not(:first-child) {
    margin-top: 1em;
  }
}

.content-pictures {
  align-items: center;
  display: flex;
  flex-direction: column;

  div, img {
    margin-top: 1em;
  }

  img {
    max-width: 100%;
  }

  div > img {
    margin-top: 0;
  }

  p {
    text-align: center;
  }
}

#assembly-video video {
  max-width: 100%;
}

@media screen and (min-width: 800px) {
  .content-text {
    width: 80%;
  }

  .content-text {
    box-sizing: border-box;
    padding-right: 1em;
  }

  .content-pictures {
    width: 20%;
  }
}
