/*----MONTERING SUBPAGE----*/
#assembly img{width: 15vw;
  border-left: 2px solid #e9e9e9;
  padding-left: 8px;
}

#assembly{overflow:hidden}

#assembly-intro{width: 85%}

#assembly-controls{width:85%}

#prog-bar{width:50%}

#assembly-controls, #prog-bar{
  display: flex;
  flex-direction: row
}

#prog-bar li:hover{cursor: pointer}

#prog-bar li{
  box-shadow: 0px 0px 2px black;
  border-radius: 2px 2px 0px 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  width:16.7%;
  padding:10px 0px;
}

#prog-bar, #assembly-btn-next, #assembly-btn-back{display: flex}

.assembly-content-pictures{
  margin-top: 36px;
}

.assembly-content-container{
  display: none;
  max-width: 85%;
  background: white;
  color: black;
  padding: 40px 0px;
  border:1px solid #e9e9e9;
  animation: slideInRight 1s forwards;
  height: 45vh;
  overflow-y:scroll;
}

.assembly-content-text{
  padding:0px 30px;
}

#assembly-btn-next,#assembly-btn-back{
  box-shadow: 0px 0px 2px black;
  border-radius: 2px 2px 0px 0px;
  margin:0px;
  color: $light-color;
  background: $accent-color-3;
  width:30%;
  justify-content: center;
}

#assembly-btn-back{

  &:before{
    content: '';
    background-image: url("../img/icons/left.svg");
    background-size: cover;
    height: 16px;
    width: 16px
  }

}

#assembly-btn-next{

  &:after{
    content: '';
    background-image: url("../img/icons/next.svg");
    background-size: cover;
    height: 16px;
    width: 16px
  }

}

.assembly-content-container p{
  margin:5px 0px 15px 0px;
  padding:0px
}

.assembly-content-container ul li{
  padding:0px 0px 30px 0px;
}

.prog-bar-element{
  background: #f7f7f7;
}

.prog-bar-element-active{
  background:$accent-color-1;
  color:$light-color
}

@media (max-width:960px){
  .assembly-content-container{flex-direction: column;}

  .assembly-content-pictures{
    border:0px;
    border-top:2px solid #e9e9e9;
    padding-top:5%;
    width:80%;
    padding: 5% 10% 0px 10%;
  }

  #assembly img{
    width: 100%;
    border-left: 0px;
    padding-left: 0px;

  }

}

/*----MONTERING SUBPAGE----*/
