
/*----TRIVIA SUBPAGE----*/

#trivia{
  main{
    width: 100vw;
    overflow: hidden;
  }
  h2{
    display: flex;
    align-items: center;
    font-size: $base-font-size*2;
    padding: 0;
    align-self: center;
    color: white;
    min-height: 100vh;
    &:after,&:before{
      content: 'bla ned';
      position: absolute;
      margin-top: 1em;
      left: 50%;
      transform: translate(-50%) scale(.6);
      text-transform: lowercase;
    }
    &:before{
      content:'';
      background-image: url('../img/icons/down.svg');
      width: 36px;
      height: 36px;
      background-position: center;
      background-size: cover;
      margin-top: 2em;
      animation: scrollDown 1.4s infinite
    }
  }
}
.parallax-content{
  background: $light-color
}

#parallax-1{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
/*----/TRIVIA SUBPAGE----*/
