/*----ANIMATIONS----*/
@keyframes slideInTop {
  0% {
    transform: translateY(-100vh);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes slideOutTop {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100vw);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slideOutLeft {
  0% {
    transform: translateX(0vh);
    opacity: 1; }
  100% {
    transform: translateX(-100vw);
    opacity: 0; } }

@keyframes slideInRight {
  0% {
    transform: translateX(100vw);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slideUp {
  0% {
    transform: translateY(20vh);
    opacity: 0; }
  100% {
    transform: translateY(0vh);
    opacity: 1; } }

@keyframes scrollDown {
  0% {
    margin-top: 2em;
    opacity: 1; }
  100% {
    margin-top: 3em;
    opacity: 0; } }

/*----/ANIMATIONS----*/
/*----MAIN ELEMENTS----*/
::selection {
  background: #00A651;
  color: white; }

html {
  background-image: url("../img/bg.png");
  background-color: #EEE; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; }

section {
  display: flex;
  flex-direction: column; }

/*----/MAIN ELEMENTS----*/
/*----OTHER ELEMENTS----*/
img {
  vertical-align: middle; }

button {
  background: transparent;
  text-align: center;
  color: #00A651;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  transition: .2s ease-out;
  font-size: .9em;
  padding: 5px 28px 5px 12px;
  margin: 0 5px; }
  button::after {
    content: '';
    width: 16px;
    position: absolute;
    margin: 2px 0 0 4px;
    height: 16px;
    background-size: cover; }
  button:hover {
    color: white;
    background: #00A651; }

@media screen and (min-width: 960px) {
  main {
    max-width: 80vw; } }

@media screen and (min-width: 1280px) {
  main {
    flex-grow: 0;
    max-width: 60vw; } }

@media screen and (min-width: 1440px) {
  main {
    max-width: 50vw; } }

/*----/OTHER ELEMENTS----*/
/*----RESET----*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',sans-serif;
  border: none; }
  *:focus {
    outline: none; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

p {
  text-align: justify; }

/*----/RESET----*/
/*----TYPOGRAPHY----*/
a {
  color: #00A651; }

h4, li {
  color: #333; }

a {
  font-size: 1.1em; }

p {
  font-size: 1em;
  padding: 2.5vmin 2.5vmin 7.5vmin 2.5vmin; }

h1 {
  padding-left: 5vmin;
  color: white;
  font-size: 1.8em; }

h2 {
  align-self: flex-start;
  font-size: 1.3em;
  padding: 7.5vmin 0 0 2.5vmin;
  text-transform: uppercase; }

@media screen and (min-width: 480px) {
  h1 {
    font-size: 1.6em;
    padding: 0;
    text-align: center; } }

@media screen and (min-width: 768px) {
  article {
    padding: 5vmin 0;
    display: flex; } }

@media screen and (min-width: 960px) {
  h2 {
    font-size: 1.6em; } }

@media screen and (min-width: 1100px) {
  h1 {
    background: #00A651;
    padding: 10px 0;
    min-width: 40vw;
    margin-left: 85vw;
    margin-top: 15%; } }

@media screen and (min-width: 1440px) {
  a, p {
    font-size: 1.1em; }
  p {
    padding: 2.5vmin; }
  h2 {
    padding-top: 0; } }

/*----/TYPOGRAPHY----*/
footer {
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  padding: 20px 0;
  min-width: 100%; }

.home-footer {
  box-shadow: -10px 0 10px 5px rgba(0, 0, 0, 0.5); }

#footer-desktop {
  display: flex;
  min-width: 100%;
  justify-content: space-around; }

footer a {
  font-size: 0.9em; }

footer ul {
  align-items: center; }
  footer ul li {
    color: white; }

footer > ul > li::before {
  content: '';
  margin-left: -18px;
  position: absolute;
  width: 18px;
  height: 24px;
  background-image: url(../img/icons/mail.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center 2px; }

footer > ul > li:first-child::before {
  background-image: url(../img/icons/location.svg); }

footer > ul > li:last-child::before {
  background-image: url(../img/icons/phone.svg); }

#footer-desktop li ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  #footer-desktop li ul li {
    font-size: .9em;
    color: white; }

#footer-desktop li > :first-child ul li:first-child:before {
  content: 'Addresse: '; }

#footer-desktop li:nth-child(2) ul li:before {
  content: 'Epost: '; }

#footer-desktop li > :last-child ul li:first-child:before {
  content: 'Telefon: '; }

#footer-desktop li > :last-child ul li:last-child:before {
  content: 'Mobil: '; }

#footer-mobile {
  display: none;
  justify-content: space-around;
  align-items: center;
  min-width: 100vw; }
  #footer-mobile li a img {
    width: 24px;
    height: 24px;
    padding: 10px; }
  #footer-mobile li:before {
    display: none; }

/*----HEADER NAVIGATION----*/
header {
  min-width: 100%; }

nav {
  background-color: #008d45; }
  nav ul {
    display: flex; }
    nav ul li {
      cursor: pointer;
      transition: .2s ease-in-out; }
      nav ul li:hover {
        background-color: #333;
        margin-bottom: -3px;
        box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1); }

.active-menu {
  background-color: #333;
  margin-bottom: -3px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1); }

nav ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  padding: 20px 30px; }

nav ul li:hover a {
  color: white;
  font-weight: bolder; }

.active-menu a {
  color: white;
  font-weight: bolder; }

#choose-product {
  display: none; }

/*----/HEADER NAVIGATION----*/
/*----HAMBURGER MENU----*/
#menu-mobile {
  display: none;
  margin: 8px 20px;
  right: 0;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  height: 40px;
  width: 48px;
  cursor: pointer;
  z-index: 999;
  padding: 5px;
  border-radius: 5px; }
  #menu-mobile span {
    width: 100%;
    height: 2px;
    background: #00A651;
    border-radius: 2px;
    transition: 0.3s ease-in-out; }

.home-header #menu-mobile span {
  background: white; }

/*----/HAMBURGER MENU----*/
/*----HOME SUBPAGE----*/
#home span {
  background: white; }

#home main #picture, #home main #left-bg {
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1; }

#home main #picture:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00A651;
  top: 0;
  left: 0;
  opacity: .8;
  z-index: 1; }

#home main section {
  padding: 0 2.5vmin; }

#home main a {
  color: white;
  align-self: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 30px;
  transition: 0.3s ease-in-out; }
  #home main a:hover {
    background: white;
    color: #00A651; }

#home main h2, #home main p {
  color: white; }

#home main p:first-of-type {
  padding-bottom: 0; }

#home main p:last-of-type {
  padding-bottom: 2vmin;
  padding-top: 0; }

#left-bg {
  display: block;
  background: rgba(0, 166, 81, 0.7);
  width: 100vw;
  height: 100vh; }

@media screen and (min-width: 768px) {
  #home main p {
    padding: 2%;
    max-width: 46%; } }

@media screen and (min-width: 1100px) {
  #home main {
    max-width: 40%;
    margin-top: -7%;
    align-self: flex-start; }
    #home main article {
      display: block;
      padding: 0; }
    #home main h2, #home main p {
      color: black;
      padding: 0;
      max-width: 70%;
      margin-left: 15%; }
    #home main a {
      color: #00A651;
      border: 1px solid #00A651; }
      #home main a:hover {
        background: #00A651;
        color: white; }
  #left-bg {
    background: url("../img/bg.png");
    background-color: #EEE;
    transform: skewX(-45deg) translateX(-50%);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8); }
  #picture:after {
    opacity: .3 !important; } }

@media screen and (min-width: 1440px) {
  #home main section {
    max-width: 120%; }
  #home main article {
    display: flex;
    padding: 1% 1% 4% 1%; }
  #home main h2 {
    margin-left: 5%; }
  #home main p {
    margin: 0;
    max-width: 42%;
    padding: 2% 4% !important; }
    #home main p:first-of-type {
      border-right: 1px solid #00A651; } }

@media screen and (min-width: 1600px) {
  #home main {
    margin-left: 2.5%;
    max-width: 40%; } }

/*----/HOME SUBPAGE----*/
/*----PRODUCTS SUBPAGE----*/
#products main {
  border: 0;
  flex-direction: row;
  align-items: stretch;
  max-height: 65vh;
  max-width: 80%;
  overflow-y: scroll;
  position: relative; }

#item-tabs {
  background: #fefefe;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
  min-width: 100%; }

.item-tab {
  text-align: center;
  padding: 25px;
  border-top: 1px solid lightgrey;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s ease-in-out; }
  .item-tab:first-child {
    border: none; }
  .item-tab:hover {
    background: #E9E9E9; }
  .item-tab.active-tab {
    background-color: #E9E9E9;
    font-weight: bolder; }

#noname {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1; }

.item-container {
  display: none;
  padding: 30px; }

.item-img img {
  width: 270px; }

#shopping-cart {
  flex-direction: column;
  display: none;
  animation: slideUp .3s forwards;
  border-top: 1px solid #888; }
  #shopping-cart span {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #444;
    cursor: pointer;
    font-size: .6em;
    color: white; }
    #shopping-cart span:after {
      content: '';
      background-image: url("../img/icons/down.svg");
      background-size: cover;
      position: absolute;
      margin-top: -4px;
      height: 24px;
      width: 24px; }

#cart-results {
  padding: 30px;
  height: 15vh;
  background: #ddd; }

#cart-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333; }
  #cart-control p {
    color: white;
    line-height: 1;
    padding: 20px; }
  #cart-control > div {
    padding-right: 20px; }
  #cart-control div button {
    background: #00A651;
    color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
    #cart-control div button:last-child {
      background: #a60002; }
  #cart-control button:first-child::after {
    background-image: url("../img/icons/send.svg"); }
  #cart-control button:nth-child(2)::after {
    background-image: url("../img/icons/copy.svg"); }
  #cart-control button:last-child::after {
    background-image: url("../img/icons/remove.svg"); }

.cart-controls {
  order: 1;
  margin-left: auto; }

.cart-add, .cart-remove {
  color: #FFF;
  padding: 5px 15px;
  margin: 0; }

.cart-add {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #00A651; }

.cart-remove {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #a60002; }
  .cart-remove:hover {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #a60002; }

.cart-val {
  width: 50px;
  text-align: center; }

@media screen and (min-width: 960px) {
  #products main {
    background: #F9F9F9;
    position: static; }
  #item-tabs {
    min-width: 30%; } }

@media screen and (min-width: 1200px) {
  #products main {
    width: 80%;
    flex-grow: 0;
    height: 65vh;
    border: 1px solid lightgrey; } }

/*----TRIVIA SUBPAGE----*/
#trivia main {
  width: 100vw;
  overflow: hidden; }

#trivia h2 {
  display: flex;
  align-items: center;
  font-size: 2em;
  padding: 0;
  align-self: center;
  color: white;
  min-height: 100vh; }
  #trivia h2:after, #trivia h2:before {
    content: 'bla ned';
    position: absolute;
    margin-top: 1em;
    left: 50%;
    transform: translate(-50%) scale(0.6);
    text-transform: lowercase; }
  #trivia h2:before {
    content: '';
    background-image: url("../img/icons/down.svg");
    width: 36px;
    height: 36px;
    background-position: center;
    background-size: cover;
    margin-top: 2em;
    animation: scrollDown 1.4s infinite; }

.parallax-content {
  background: white; }

#parallax-1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

/*----/TRIVIA SUBPAGE----*/
/*----MONTERING SUBPAGE----*/
#assembly h2 {
  padding: 0; }

#assembly-controls, #assembly-controls > ul {
  display: flex;
  flex-direction: row; }

#assembly-controls > ul li {
  margin: 0px 20px 0px 20px; }

#prog-bar, #assembly-btn-next, #assembly-btn-back {
  display: flex; }

.assembly-content {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  max-width: 70%;
  background: #00A651;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  animation: slideInRight 1s forwards; }

#assembly-btn-back {
  color: white;
  background: #00A651; }
  #assembly-btn-back:after {
    content: '';
    background-image: url("../img/icons/left.svg");
    background-size: cover;
    height: 16px;
    width: 16px; }

#assembly-btn-next {
  color: white;
  background: #00A651; }
  #assembly-btn-next:after {
    content: '';
    background-image: url("../img/icons/next.svg");
    background-size: cover;
    height: 16px;
    width: 16px; }

.prog-bar-element {
  color: #999; }

.prog-bar-element-active {
  color: #00A651; }

/*----MONTERING SUBPAGE----*/
/*----ABOUT SUBPAGE----*/
#about p a {
  padding-left: 5px; }

#about section:first-of-type {
  padding: 0 10vmin; }

#sjef {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #sjef img {
    border-radius: 50%;
    padding: 5px 0;
    height: 128px;
    width: 128px; }

.sjef {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.5vmin; }

@media screen and (min-width: 580px) {
  #about section:first-of-type {
    justify-content: center;
    align-items: center; }
  #sjef {
    justify-content: center;
    align-items: center;
    min-width: 100%;
    margin-bottom: 5vmin;
    flex-direction: row; }
  .sjef {
    padding: 0; }
    .sjef:first-child {
      margin-right: 20%; } }

@media screen and (min-width: 960px) {
  #about section:first-of-type {
    padding: 0 2.5vmin; }
  #about #sjef {
    justify-content: space-around; }
  #about .sjef {
    margin: 0 !important; } }

@media screen and (min-width: 1280px) {
  #about main {
    border-left: 1px solid #00A651;
    border-right: 1px solid #00A651; } }

/*----/ABOUT SUBPAGE----*/
/*------------------------------------------------------------------------
-------------------------------MEDIA QUERIES------------------------------
------------------------------------------------------------------------*/
@media screen and (max-width: 1556px) {
  header nav ul li a {
    padding: 15px 30px; } }

@media screen and (max-width: 960px) {
  #menu-mobile {
    display: flex; }
  .tabs-in {
    display: flex !important;
    animation: slideInLeft 0.3s forwards; }
  .tabs-out {
    display: flex !important;
    animation: slideOutLeft .3s forwards; }
  header nav {
    position: fixed;
    display: none;
    height: calc(100vh - 48px);
    width: 100vw;
    z-index: 999; }
    header nav ul {
      flex-wrap: wrap; }
      header nav ul li {
        box-sizing: border-box;
        border-top: 1px solid #333;
        width: 50vw; }
        header nav ul li:nth-child(odd) {
          border-left: 1px solid #333; }
        header nav ul li:hover {
          box-shadow: inset 0 0 10px black;
          margin: 0; }
  .active-menu {
    box-shadow: inset 0 0 10px black;
    margin: 0; }
  header nav ul li a {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    font-size: 1.8em;
    text-transform: uppercase; }
  header nav ul li:first-child {
    border-left: none;
    border-top: none;
    order: 1; }
  header nav ul li:nth-child(3) {
    border-top: none;
    order: 1; }
  header nav ul li:nth-child(2) {
    order: 2;
    min-width: 100vw;
    flex-grow: 1; }
  header nav ul li:nth-child(4), header nav ul li:nth-child(5) {
    order: 3; }
  header nav ul li a::before {
    content: '';
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px; }
  header nav ul li:first-child a::before {
    background-image: url("../img/icons/home.svg"); }
  header nav ul li:nth-child(2) a::before {
    background-image: url("../img/icons/shop.svg"); }
  header nav ul li:nth-child(3) a::before {
    background-image: url("../img/icons/info.svg"); }
  header nav ul li:nth-child(4) a::before {
    background-image: url("../img/icons/settings-2.svg"); }
  header nav ul li:last-child a::before {
    background-image: url("../img/icons/us.svg"); }
  #choose-product {
    margin: 16px 20px;
    display: block;
    background: #00A651;
    color: white;
    transform: scale(1.1); }
    #choose-product::after {
      background-image: url("../img/icons/products.svg"); }
  #item-tabs {
    display: none;
    height: calc(100vh - 62px);
    min-width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10; }
  .item-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-grow: 1; }
  #item-containers {
    min-height: 34vh; }
  .item-container {
    overflow-y: scroll;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 10% 3% 10%; }
  .cart-controls {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 30%;
    transform: translateY(-50%);
    right: 0;
    width: 48px;
    margin: 0;
    z-index: 1; }
    .cart-controls input {
      height: 48px;
      padding: 0; }
    .cart-controls button {
      height: 48px;
      background: #333;
      border-radius: 0; }
  #shopping-cart {
    width: 100%;
    bottom: 61px;
    justify-content: flex-end;
    height: calc(100vh - 123px);
    position: fixed;
    border: none; }
    #shopping-cart span {
      height: 32px;
      display: flex; }
  #cart-control {
    flex-direction: column; }
  #cart-results {
    border-top: 1px solid #444;
    flex-grow: 1; }
  #cart-control div {
    width: 100%;
    display: flex;
    padding: 0; }
    #cart-control div button {
      padding-top: 20px;
      padding-bottom: 20px;
      box-shadow: none;
      border-radius: 0;
      width: 50%;
      margin: 0; }
      #cart-control div button:first-child {
        box-sizing: border-box;
        border-right: 1px solid black; }
      #cart-control div button:nth-child(2) {
        display: none; }
  footer {
    position: relative;
    z-index: 1000;
    border-top: 1px solid black;
    max-height: 48px;
    padding: 0px; }
  #footer-desktop {
    display: none; }
  #footer-mobile {
    display: flex; }
  .home-footer {
    box-shadow: none; } }

@media screen and (max-width: 960px) and (orientation: landscape) {
  header nav {
    height: calc(100vh - 36px); }
    header nav ul li a {
      font-size: 3em; }
  #shopping-cart {
    bottom: 45px;
    height: calc(100vh - 100px); }
  .cart-controls {
    flex-direction: row;
    top: 0;
    transform: translateX(-50%);
    left: 50%; }
    .cart-controls button {
      padding: 0 20px; }
  #cart-control p, #cart-control div button {
    padding: 5px; }
  footer {
    min-height: 36px; } }

@media screen and (max-width: 390px) {
  .item-container {
    padding: 5% 17% 3% 3%; }
  #cart-results {
    padding: 5px; } }

/**
 * Toast menu
 */
#toast {
  display: block;
  position: fixed;
  top: 0;
  margin: auto;
  background: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5px black;
  animation: slideInTop .4s forwards;
  z-index: 1000; }

.toast-out {
  animation: slideOutTop 0.3s forwards !important; }
