/*------------------------------------------------------------------------
----------------------------------GENERAL---------------------------------
------------------------------------------------------------------------*/

/*----RESET----*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',sans-serif
}
*:focus{
  outline: none
}
::selection{background: #00A651;color: white}

/*----/RESET----*/

/*----TYPOGRAPHY----*/
a{color: #00A651}
p{
  line-height: 1.8;
  text-align: justify;
  padding: 0 2%
}
li{
  list-style-type: none;
  color: #333
}
h1{
  background-color: #00A651;
  color: white;
  font-size: 2em;
  padding: 10px 100px;
}
h2{
  color: darkgrey;
  font-size: 1.6em;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  text-align: center;
  padding-left: 2%
}
h3{
  color: darkgrey;
  padding: 10px
}
h4{
  color: #333;
  padding-top: 10px
}

/*----/TYPOGRAPHY----*/

/*----MAIN ELEMENTS----*/
html{
  background-image: url('../img/bg.png');
  background-color: #eee
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1
}
article{
  max-width: 50%;
  align-self: flex-end;
  margin: 5% 5% 0;
  display: flex;
  flex-direction: column
}
.article-wrap{display: flex}
/*----/MAIN ELEMENTS----*/

/*----OTHER ELEMENTS----*/
img{vertical-align: middle}
button{
  background:transparent;
  text-align: center;
  color:#00A651;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid #00A651;
  border-radius: 5px;
  font-weight: bolder;
  transition: .2s ease-out
}
button:hover{
  color: white;
  background: #00A651
}
/*----/OTHER ELEMENTS----*/



/*----ANIMATIONS----*/

@keyframes slideshowIn {
  0%{opacity: 0}
  50%{z-index: 1}
  100%{opacity: 1}
}
@keyframes slideshowOut {
  0%{opacity: 1}
  50%{z-index: -1}
  100%{opacity: 0}
}
@keyframes fadeIn {
  0%{opacity: 0}
  50%{z-index: 1}
  100%{opacity: 1}
}
@keyframes fadeOut {
  0%{opacity: 1}
  50%{z-index: -1}
  100%{opacity: 0}
}

@keyframes slideIn {
  0%{transform: translateX(100vw)}
  50%{transform: translateX(80vw)}
  70%{transform: translateX(60vw)}
  100%{transform: translateX(0)}
}

@keyframes slideUp {
  0%{transform: translateY(50vh)}
  70%{transform: translateY(30vh)}
  100%{transform: translateY(0)}
}
/*----/ANIMATIONS----*/



/*------------------------------------------------------------------------
----------------------------------HEADER----------------------------------
------------------------------------------------------------------------*/

/*----HEADER NAVIGATION----*/
header{min-width: 100%}
header nav{background-color: #00A651}
header nav ul{display: flex}
header nav ul li{
  cursor:pointer;
  transition: .2s ease-in-out
}
header nav ul li:hover,.active-menu{
  background-color: white;
  margin-bottom: -3px;
  box-shadow: 0 5px 3px rgba(0,0,0,.1)
}
header nav ul li a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px 30px
}
header nav ul li:hover a, .active-menu a{
  color: #00A651;
  font-weight: bolder
}


/*----/HEADER NAVIGATION----*/

/*----HAMBURGER MENU----*/
#menu-mobile{
  display: none;
  margin: 16px 20px;
  right: 0;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  height: 40px;
  width: 48px;
  cursor: pointer;
  z-index:1000
}
#menu-mobile span{
  width: 100%;
  height: 2px;
  background: #00A651;
  border-radius: 2px;
  transition: .3s ease-in-out
}
#menu-mobile span:hover{background: white}
.home-header #menu-mobile span{background: white}
/*----/HAMBURGER MENU----*/

/*------------------------------------------------------------------------
---------------------------------SUBPAGES---------------------------------
------------------------------------------------------------------------*/

/*----HOME SUBPAGE----*/
.home{
  position: relative;
  overflow: hidden;
}
.home h1{margin: 2% -20% 0 0}
#picture{
  position: absolute;
  z-index: -1;
  top: 0;
  left:0
}
#picture img{
  min-width: 70vw;
  min-height: 100vh;
}
#picture .shade{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00A651;
  opacity: .4;
  z-index: 1;
  top: 0;
  left:0
}
#right-bg{
  position: absolute;
  min-width: 85%;
  min-height: 100%;
  background: url('../img/bg.png');
  background-color: #eee;
  transform: skewX(-45deg);
  z-index: -1;
  right: -25%;
  box-shadow: -5px -5px 10px 10px rgba(0,0,0,.1)
}
.home article h2{text-align: left}
.home article .article-wrap p{max-width: 46%}
.home article .article-wrap p:first-child{border-right: 1px solid #00A651}
.home article button{
  align-self: center;
  padding: 10px 40px;
  margin-top: 30px
}

/*----/HOME SUBPAGE----*/



/*----SPECIFICATIONS SUBPAGE----*/
.products{margin-top: 2em}
.products::after{
  content: '*Selges i sett med 2 stk stolper, 2 stk galvaniserte nett, 20 stk avstands stenger for å holde gabionen sammen når den fylles, 16 skruer, muttere og 32 festeklips.**Selges i sett med 2 stk stolper, 2 stk galvaniserte nett, 24 avstands stenger for å holde gabionen sammen når den fylles, 20 skruer, muttere, og 40 festeklips.';
  max-width: calc(70vw - 20px);
  font-size: .9em;
  padding: 10px;
  color: #00A651;
  font-style: italic
}
#products-container {
  min-width: 80vw;
  max-width: 80vw;
  height: 65vh;
  display: flex;
  box-shadow: 0 0 20px 5px rgba(0,0,0,.1)
}
#tabs {
  overflow-y: scroll;
  min-width: 25vw;
  max-width: 25vw;
  direction:rtl
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 2vw;
  background: grey;
  border-top: 1px solid lightgrey;
  cursor: pointer;
  color:white;
  transition: .2s ease-in-out
}
.tab:first-child{border: none}
.tab:hover{background: #333}
.tab.active-tab{
  background-color: #00A651;
  font-weight: bolder
}
#item-containers {
  overflow: hidden;
  position: relative;
  background: #00A651;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: white
}
.item-container {
  display: none;
  flex-grow: 1;
  flex-direction: column
}
.size,.weight,.price{font-weight: bolder;padding: 10px}
.size::before,.weight::before,.price::before,.size::after,.weight::after,.price::after{font-weight: normal}
.size::before{content: 'Størrelse: '}
.weight::before{content:'Vekt: '}
.price::before{content:'Pris: '}
.size::after{content:' cm'}
.weight::after{content:' kg'}
.price::after{content:' NOK'}
#cart-container {
  display: none;
  background: #333;
  min-height: 30%;
  flex-direction: column;
  animation: slideUp .8s forwards, fadeIn 1.2s forwards
}
#cart-container textarea{
  flex-grow: 1;
  padding: 20px
}
#cart-container p{
  max-width: 45%;
  text-align: justify;
  color: white
}
#cart-controls{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center
}
#cart-controls button{
  font-size: .9em;
  background: #00A651;
  color:white;
  padding: 5px 28px 5px 12px;
  margin: 0 5px
}
#cart-controls button:hover{border-radius: 0}
#cart-controls button::after{
  content: '';
  width: 16px;
  position: absolute;
  margin: 2px 0 0 4px;
  height: 16px;
  background-size: cover;
  background-image: url(../img/icons/send.svg)
}
#cart-controls button:nth-child(2)::after{background-image: url(../img/icons/copy.svg)}
#cart-controls button:last-child::after{background-image: url(../img/icons/remove.svg)}

.cart-btn-container{
  position: absolute;
  top:0;
  right: 0;
  display: flex;
  flex-direction: column
}
.cart-btn-container input{
  text-align: center;
  border: none;
  font-weight: bolder;
  font-size: .8em
}
.cart-btn-container input[type="text"]{
  padding: 5px;
  min-width: calc(100% + 12.5px);
  margin: 0 0 0 -23px;
  width: 50px
}
.cart-btn-container button{
  background: #333;
  color: white;
  font-size: .8em;
  padding: 2px 5px 4px 5px;
  border: 0;
  border-radius: 0;
  margin: 0
}
.cart-btn-container button::before{
  content: '';
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: -23px;
  margin-top: -2px;
  width: 24px;
  height: 24px;
  background-color: #333
}
.cart-btn-container button:first-child::before{background-image: url('../img/icons/add.svg')}
.cart-btn-container button:nth-child(3)::before{background-image: url('../img/icons/remove.svg')}

/*----/SPECIFICATIONS SUBPAGE----*/


/*----ABOUT SUBPAGE----*/
.about{max-width: 50%}
.info{
  border-left: 1px solid #00A651;
  border-right: 1px solid #00A651;
  padding: 10px 40px
}
.info p a{padding-left: .3em}
.sjef{
  display: flex;
  justify-content: space-around;
}
.sjef div{
  display: flex;
  align-items: center;
  flex-direction: column
}
.sjef div img{
  border-radius: 50%;
  width:100px;
  height: 100px
}
.sjef div a{font-size: .9em}

/*----/ABOUT SUBPAGE----*/

/*------------------------------------------------------------------------
----------------------------------FOOTER----------------------------------
------------------------------------------------------------------------*/

footer{
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  padding: 20px 0;
  min-width: 100%;
}
#footer-desktop{
  display: flex;
  min-width: 100%;
  justify-content: space-around;

}
footer ul{align-items: center;}
footer ul li{color:white}
footer>ul>li::before{
  content: '';
  margin-left: -18px;
  position: absolute;
  width: 18px;
  height: 24px;
  background-image: url(../img/icons/mail.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center 2px
}
footer>ul>li:first-child::before{background-image: url(../img/icons/location.svg)}
footer>ul>li:last-child::before{background-image: url(../img/icons/phone.svg)}
#footer-desktop li ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#footer-desktop li ul li{
  font-size: .9em;
  color: white
}

#footer-mobile{
  display: none;
  justify-content: space-around;
  align-items: center;
  min-width: 100vw;
}
#footer-mobile li a img{
  padding: 10px
}
#footer-mobile li img{filter: invert(1)}
#footer-mobile li:before{display: none}
/*------------------------------------------------------------------------
-------------------------------MEDIA QUERIES------------------------------
------------------------------------------------------------------------*/
@media screen and (max-width:1440px) {

  h1{
    font-size: 1.9em;
    padding: 10px 80px
  }
  p{line-height: 1.6}
  header nav ul li a{
    padding: 15px 30px
  }
  .home h1{margin-top:-5%}
  #right-bg{
    min-width: 95%;
    right: -30%;
  }
  .size,.weight,.price{padding: 5px 10px 0}
  #cart-container textarea{padding: 15px}
  #cart-container p{
    max-width: 40%;
    line-height: 1.2
  }
  #cart-controls{
    font-size: .9em;
    padding: 10px 0
  }
  #cart-controls div{margin-right: 10px}
  .about{max-width: 60%}
}
@media screen and (max-width:1350px) {
  .home p{line-height: 1.4}
  .tab{
    padding: 15px 1vw;
    text-align: left;
  }
}
@media screen and (max-width:1220px) {
  #tabs{font-size: .9em}
  #cart-container p{max-width: 35%}
}
@media screen and (max-width:1140px) {
  #cart-container p{padding: 0 0 0 10px}
  #cart-controls {padding: 5px 0}
}
@media screen and (max-width:1100px) {
  .home p{
    line-height: 1.3;
    font-size: .9em
  }
  #cart-container p{
    max-width: 100%;
    padding: 5px
  }
  #cart-controls{
    padding: 0 5px 10px 5px;
    flex-direction: column;
    align-items: flex-start
  }
}
@media screen and (max-width:940px) {
  h1{
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    width: 100vw
  }
  h2{display: none}

  article{max-width: 100vw}


  #menu-mobile{
    display: flex;
    position: absolute;
    top: 0
  }
  #menu-mobile:hover span{
    background: white
  }

  header nav{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    z-index: 999;
    animation: fadeIn .3s forwards
  }
  header nav ul{
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

  /*----ANIMATION FOR MENU ITEMS----*/

  header nav ul li:first-child{animation: slideIn .7s forwards}
  header nav ul li:nth-child(2){
    transform: translateX(100vw);
    animation: slideIn .7s forwards .1s
  }
  header nav ul li:nth-child(3){
    transform: translateX(100vw);
    animation: slideIn .7s forwards .2s
  }
  header nav ul li:nth-child(4){
    transform: translateX(100vw);
    animation: slideIn .7s forwards .3s
  }
  header nav ul li:last-child{
    transform: translateX(100vw);
    animation: slideIn .7s forwards .4s
  }

  /*----/ANIMATION FOR MENU ITEMS----*/


  header nav ul li:hover{
    background-color: transparent;
    margin: 0;
    box-shadow: none
  }
  header nav ul li a{
    width: 100vw;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
    font-size: 1.5em
  }
  header nav ul li a:hover{
    text-decoration: underline;
    color: white;
    font-weight: bolder
  }


  .home button{
    border-color: white;
    color:white
  }
  .home button:hover{
    background: white;
    color: #00A651
  }
  #picture img{
    min-width: 100vw;
    min-height: 100vh
  }
  #picture .shade{opacity: .8}
  #right-bg{display: none}
  .home article .article-wrap{flex-direction: column}
  .home article .article-wrap p{
    max-width: 100%;
    color: white;
  }


  .products{
    margin: 0;
  }
  .products::after{
    font-size: .7em;
    max-width: 100vw
  }
  #products-container {
    position: absolute;
    top: 0;
    align-self: flex-start;
    flex-direction: column;
    min-width: 100vw;
    height: 80vh
  }
  .item-container{
    flex-grow: 1;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .item-container p{
    flex-grow: 1;
    min-width: 90vw;
    padding-top: 3vw
  }
  #tabs{
    min-width: 100vw;
    max-height: 20vh
  }
  .tab{
    padding: 10px 0;
  }

  #cart-container{
    animation: none;
  }
  #cart-controls{
    justify-content: center;
    align-items: center;
    min-width: 100vw
  }
  #cart-controls p{max-width: 90%}
  #cart-controls div{
    display: flex;
    justify-content: center;
    min-width: 100%
  }
  #cart-container button{margin:0;transform: scale(1.2)}
  #cart-container button:first-child{margin-right: 25px}
  #cart-container button:nth-child(2){display: none}
  .cart-btn-container{
    flex-direction: row;
    min-width: 100vw;
  }
  .cart-btn-container input, .cart-btn-container button{
    min-height: 48px
  }
  .cart-btn-container input[type="text"]{
    min-width: auto;
    flex-grow: 1;
    margin: 0
  }
  .cart-btn-container button{
    padding: 5px;
  }




  .about{
    max-width: 100vw;
    margin: 0;
    padding: 16px 20px 0 20px
  }
  .info{
    border: none;
    width: 100%;
    padding: 0
  }
  .sjef{margin: 0}
  .sjef div h4{padding: 5px 0}
  .sjef div a{margin-bottom: 24px}

  footer{
    max-height: 48px;
    padding: 5px;
    background: #333;
    box-shadow: 0 -5px 10px rgba(0,0,0,.2)
  }
  #footer-desktop{display: none}
  #footer-mobile{display: flex}


  .home-footer{
    position: static;
    align-self: center;
    min-width: 100vw;
    min-height: 20px;
    padding: 5px;
    background: #eee
  }
 .home-#footer-desktop>li::before{filter:invert(0)}
}

/**
 * Toast menu
 */

 #toast {
   position: fixed;
   top: 0;
   margin: auto;
   background: #CCC;
   padding: 5px 10px;
   border-radius: 0 0 3px 3px;
 }

 .toast-in {
   display: inline-block;
 }

.toast-out {
  display: none;
}
