/*----ANIMATIONS----*/
@keyframes slideInTop {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutTop {
  0% {
    transform: translateY(0vh);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0vh);
    opacity: 1;
  }
  100% {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(20vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}

@keyframes scrollDown {
  0% {
    margin-top: 2em;
    opacity: 1;
  }
  100% {
    margin-top: 3em;
    opacity: 0;
  }
}

@keyframes panImg {
  0%, 10%, 100% {
    margin-left: 0;
  }
  50%, 60% {
    margin-left: -50%;
  }
}

/*----/ANIMATIONS----*/
/*----MAIN ELEMENTS----*/
::selection {
  background: #00A651;
  color: white;
}

html {
  background-image: url("../img/bg.png");
  background-color: #EEE;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

section {
  display: flex;
  flex-direction: column;
}

/*----/MAIN ELEMENTS----*/
/*----OTHER ELEMENTS----*/
img {
  vertical-align: middle;
}

button {
  background: transparent;
  text-align: center;
  color: #00A651;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  transition: .2s ease-out;
  font-size: .9em;
  padding: 5px 28px 5px 12px;
  margin: 0 5px;
}

button::after {
  content: '';
  width: 16px;
  position: absolute;
  margin: 2px 0 0 4px;
  height: 16px;
  background-size: cover;
}

button:hover {
  color: white;
  background: #00A651;
}

#toast {
  display: block;
  position: fixed;
  top: 0;
  margin: auto;
  background: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5px black;
  animation: slideInTop .4s forwards;
  z-index: 1000;
}

.toast-out {
  animation: slideOutTop 0.3s forwards !important;
}

@media screen and (min-width: 960px) {
  main {
    max-width: 80vw;
  }
}

@media screen and (min-width: 1280px) {
  main {
    flex-grow: 0;
    max-width: 60vw;
  }
}

@media screen and (min-width: 1440px) {
  main {
    max-width: 50vw;
  }
}

/*----/OTHER ELEMENTS----*/
/*----RESET----*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',sans-serif;
  border: none;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  text-align: justify;
}

/*----/RESET----*/
/*----TYPOGRAPHY----*/
a {
  color: #00A651;
}

main h4, main li {
  color: #333;
}

main a {
  font-size: 1.1em;
}

main p, main li {
  font-size: 1em;
  padding: 2.5vmin 2.5vmin 7.5vmin 2.5vmin;
}

main li {
  text-align: justify;
}

main h1 {
  padding-left: 5vmin;
  color: white;
  font-size: 1.7em;
}

main h2 {
  align-self: flex-start;
  font-size: 1.3em;
  padding: 2.5vmin 0 0 2.5vmin;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  main h1 {
    font-size: 1.6em;
    padding: 0;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  main article {
    padding: 5vmin 0;
    display: flex;
  }
}

@media screen and (min-width: 960px) {
  main h2 {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 1100px) {
  main h1 {
    background: #00A651;
    padding: 10px 0;
    min-width: 40vw;
    margin-left: 85vw;
    margin-top: 15%;
  }
}

@media screen and (min-width: 1440px) {
  main a, main p {
    font-size: 1.1em;
  }
  main p {
    padding: 2.5vmin;
  }
  main h2 {
    padding-top: 0;
  }
}

/*----/TYPOGRAPHY----*/
footer {
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  padding: 20px 0;
  min-width: 100%;
}

.home-footer {
  box-shadow: -10px 0 10px 5px rgba(0, 0, 0, 0.5);
}

#footer-desktop {
  display: flex;
  min-width: 100%;
  justify-content: space-around;
}

footer a {
  font-size: 0.9em;
}

footer ul {
  align-items: center;
}

footer ul li {
  color: white;
}

footer > ul > li::before {
  content: '';
  margin-left: -18px;
  position: absolute;
  width: 18px;
  height: 24px;
  background-image: url(../img/icons/mail.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center 2px;
}

footer > ul > li:first-child::before {
  background-image: url(../img/icons/location.svg);
}

footer > ul > li:last-child::before {
  background-image: url(../img/icons/phone.svg);
}

#footer-desktop li ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#footer-desktop li ul li {
  font-size: .9em;
  color: white;
  padding: 0 !important;
}

#footer-desktop li ul li:before {
  display: none;
}

#footer-desktop li > :first-child ul li:first-child:before {
  content: 'Addresse: ';
}

#footer-desktop li:nth-child(2) ul li:before {
  content: 'Epost: ';
}

#footer-desktop li > :last-child ul li:first-child:before {
  content: 'Telefon: ';
}

#footer-desktop li > :last-child ul li:last-child:before {
  content: 'Mobil: ';
}

#footer-mobile {
  display: none;
  justify-content: space-around;
  align-items: center;
  min-width: 100vw;
}

#footer-mobile li {
  width: 24px;
  height: 24px;
  padding: 10px;
}

#footer-mobile li img {
  width: 24px;
}

#footer-mobile li:before {
  display: none;
}

/*----HEADER NAVIGATION----*/
header {
  display: flex;
  width: 100%;
}

nav {
  position: fixed;
  width: 100%;
  height: calc(100vh - 61px);
  display: flex;
  display: none;
  z-index: 999;
  left: 0;
  background-color: #008d45;
}

nav ul {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  cursor: pointer;
  box-sizing: border-box;
  border-top: 1px solid #333;
  width: 50%;
  transition: .2s ease-in-out;
}

nav ul li:nth-child(odd) {
  border-left: 1px solid #333;
}

nav ul li:hover {
  background-color: #333;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1);
}

nav ul li a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  text-transform: uppercase;
}

nav ul li:first-child {
  border-left: none;
  border-top: none;
}

nav ul li:nth-child(3) {
  border-top: none;
}

nav ul li:nth-child(2) {
  order: 1;
  min-width: 100%;
}

nav ul li:nth-child(4), nav ul li:nth-child(5) {
  order: 2;
}

nav ul li a::before {
  content: '';
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
}

nav ul li:hover a {
  color: white;
  font-weight: bolder;
}

#nav-1:before {
  background-image: url("../img/icons/home.svg");
}

#nav-2:before {
  background-image: url("../img/icons/shop.svg");
}

#nav-3:before {
  background-image: url("../img/icons/info.svg");
}

#nav-4:before {
  background-image: url("../img/icons/settings-2.svg");
}

#nav-5:before {
  background-image: url("../img/icons/us.svg");
}

.active-menu {
  background-color: #333;
  box-shadow: inset 0 0 10px black;
}

.active-menu a {
  font-weight: bolder;
}

.tabs-in {
  display: flex !important;
  animation: slideInLeft 0.3s forwards;
}

.tabs-out {
  display: flex !important;
  animation: slideOutLeft .3s forwards;
}

/*----/HEADER NAVIGATION----*/
/*----HAMBURGER MENU----*/
#menu-mobile {
  display: flex;
  margin: 8px 20px;
  right: 0;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  height: 40px;
  width: 48px;
  cursor: pointer;
  z-index: 999;
  border-radius: 5px;
  padding: 5px;
}

#menu-mobile span, #menu-mobile span:after, #menu-mobile span:before {
  background: white;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
}

#menu-mobile span:before, #menu-mobile span:after {
  content: '';
  width: calc(100% - 10px);
  position: absolute;
  left: 5px;
  top: 20%;
}

#menu-mobile span:after {
  top: calc(80% - 2px);
}

.home-header #menu-mobile span {
  background: white;
}

/*----/HAMBURGER MENU----*/
@media screen and (min-width: 640px) {
  nav {
    height: calc(100vh - 44px);
  }
}

@media screen and (min-width: 960px) {
  #menu-mobile {
    display: none;
  }
  nav {
    max-height: 64px;
    position: static;
    display: flex;
  }
  nav ul {
    flex-direction: row;
  }
  nav ul li {
    width: auto;
    min-width: 0 !important;
    border: none !important;
    order: 0 !important;
  }
  nav ul li a {
    padding: 0 40px;
    text-transform: none;
    box-shadow: nav ul li a;
  }
  nav ul li a :before {
    display: none !important;
  }
  .active-menu {
    margin-bottom: -3px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
}

/*----HOME SUBPAGE----*/
#home span {
  background: white;
}

#home main {
  /*#picture:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $accent-color-1;
      top: 0;
      left:0;
      opacity: .8;
      z-index: 1;
    }*/
}

#home main #picture, #home main #left-bg {
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

#home main section {
  padding: 0 2.5vmin;
}

#home main a {
  color: white;
  align-self: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 25px;
  transition: 0.3s ease-in-out;
}

#home main a:hover {
  background: white;
  color: #00A651;
}

#home main h2, #home main p {
  color: white;
}

#home main p:first-of-type {
  padding-bottom: 0;
}

#home main p:last-of-type {
  padding-bottom: 2vmin;
  padding-top: 0;
}

#left-bg {
  display: block;
  background: rgba(0, 166, 81, 0.7);
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  #home main p {
    padding: 2%;
    max-width: 46%;
  }
}

@media screen and (min-width: 1100px) {
  #home main {
    max-width: 40%;
    margin-top: -7%;
    align-self: flex-start;
  }
  #home main article {
    display: block;
    padding: 0;
  }
  #home main h2, #home main p {
    color: black;
    padding: 0;
    max-width: 70%;
    margin-left: 15%;
  }
  #home main a {
    color: #00A651;
    border: 1px solid #00A651;
  }
  #home main a:hover {
    background: #00A651;
    color: white;
  }
  #left-bg {
    background: url("../img/bg.png");
    background-color: #EEE;
    transform: skewX(-45deg) translateX(-50%);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
  }
  #picture:after {
    opacity: .3 !important;
  }
}

@media screen and (min-width: 1440px) {
  #home main section {
    max-width: 120%;
  }
  #home main article {
    display: flex;
    padding: 1% 1% 4% 1%;
  }
  #home main h2 {
    margin-left: 5%;
  }
  #home main p {
    margin: 0;
    max-width: 42%;
    padding: 2% 4% !important;
  }
  #home main p:first-of-type {
    border-right: 1px solid #00A651;
  }
}

@media screen and (min-width: 1600px) {
  #home main {
    margin-left: 2.5%;
    max-width: 40%;
  }
}

/*----/HOME SUBPAGE----*/
/*----PRODUCTS SUBPAGE----*/
#products main {
  justify-content: flex-start;
}

#choose-product {
  margin: 20px 24px;
  display: block;
  background: #00A651;
  color: white;
}

#choose-product::after {
  background-image: url("../img/icons/products.svg");
}

#item-tabs {
  background: #fefefe;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  max-height: 100vh;
  min-width: 100vw;
  z-index: 1001;
  flex-direction: column;
  overflow-y: scroll;
  direction: rtl;
}

.item-tab {
  padding: 7.5vmin;
  border-top: 1px solid lightgrey;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.item-tab:first-child {
  border: none;
}

.item-tab:hover {
  background: #E9E9E9;
}

.item-tab.active-tab {
  background-color: #E9E9E9;
  font-weight: bolder;
}

.item-container {
  display: none;
  flex-direction: column;
}

.item-data {
  padding: 0 5%;
  text-align: center;
}

.item-name {
  display: none;
}

.item-extra {
  color: #333;
  font-size: 0.6em;
}

.item-img {
  padding: 2.5% 10%;
}

.item-img img {
  width: 100%;
}

#shopping-cart {
  flex-direction: column;
  display: none;
  border-top: 1px solid black;
  min-height: calc(100vh - 61px);
  animation: slideUp .3s forwards;
}

#cart-results {
  padding: 20vmin 10vmin;
  flex-grow: 1;
  resize: none;
  background: #fefefe;
  font-size: 0.9em;
}

#cart-control {
  display: flex;
  flex-direction: column;
  background: #333;
}

#cart-control p {
  color: white;
  font-size: 0.8em;
  line-height: 1;
  padding: 7.5vmin 5vmin;
}

#cart-control div {
  display: flex;
}

#cart-control div button {
  background: #00A651;
  color: white;
  margin: 0;
  border-radius: 0;
  min-width: 50%;
  padding-top: 1em;
  padding-bottom: 1em;
}

#send-cart-mail:after {
  background-image: url("../img/icons/send.svg");
}

#copy-cart-contents {
  display: none;
}

#clear-cart-contents {
  background: #a60002 !important;
  border-left: 1px solid black;
  box-sizing: border-box;
}

#clear-cart-contents:after {
  background-image: url("../img/icons/remove.svg");
}

.cart-controls {
  order: 1;
  display: flex;
}

.cart-add, .cart-remove {
  flex-grow: 1;
  color: white;
  background: #444;
  border-radius: 0;
  padding: 1em;
  margin: 0;
}

.cart-remove:hover {
  background: #a60002;
}

.cart-val {
  text-align: center;
}

@media screen and (min-width: 640px) {
  #noname {
    min-width: 100vw;
  }
  .item-container {
    position: relative;
    flex-direction: row;
  }
  .item-data {
    text-align: left;
    padding: 0 10%;
  }
  .item-img {
    padding: 0 0 55px 0;
  }
  .item-img img {
    width: auto;
    height: 50vh;
  }
  .cart-controls {
    position: absolute;
    flex-direction: column;
    width: 48px;
    right: 0;
  }
  .cart-val {
    height: 48px;
  }
  #shopping-cart {
    min-height: calc(100vh - 44px);
  }
  #cart-results {
    padding: 10vmin 20vmin;
    flex-grow: 1;
  }
  #cart-control p {
    text-align: center;
    padding: 5vmin 2.5vmin;
  }
}

@media screen and (min-width: 960px) {
  #choose-product {
    display: none;
  }
  #products main {
    min-width: 100%;
    flex-direction: row;
    background: #F9F9F9;
  }
  #item-tabs {
    position: static;
    min-width: 25%;
    max-height: calc(100vh - 152px);
    display: flex;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
    animation: none;
  }
  .item-tab {
    text-align: center;
    padding: 2.5vmin 0;
    font-size: 0.9em;
  }
  #noname {
    position: relative;
    min-width: 75%;
    min-height: calc(100vh - 152px);
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    align-items: center;
  }
  #item-containers {
    flex-grow: 1;
  }
  .item-container {
    flex-direction: column;
  }
  .item-data {
    align-self: center;
    text-align: center;
    padding: 0;
  }
  .item-name {
    display: block;
  }
  .item-img {
    align-self: center;
    padding: 2.5%;
  }
  .item-img img {
    height: 40vmin;
  }
  #shopping-cart {
    position: absolute;
    top: 0;
    min-height: 100%;
    border: none;
  }
  #cart-results {
    padding: 2.5vmin;
  }
  #cart-control {
    flex-direction: row;
  }
  #cart-control p {
    padding: 15px;
    font-size: 0.9em;
    text-align: justify;
  }
  #cart-control div {
    min-width: 400px;
    white-space: nowrap;
    align-items: center;
  }
  #cart-control div button {
    min-width: 0;
    border-radius: 5px;
    margin-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #copy-cart-contents {
    display: block;
  }
  #copy-cart-contents:after {
    background-image: url("../img/icons/copy.svg");
  }
}

@media screen and (min-width: 1340px) {
  #products main {
    min-width: 80%;
    flex-grow: 0;
    height: 65vh;
    border: 1px solid lightgrey;
  }
  #item-tabs {
    height: 65vh;
  }
  #noname {
    flex-direction: column;
    min-height: 65vh;
    flex-grow: 1;
  }
  #item-containers {
    display: flex;
    min-width: 100%;
  }
  .item-container {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
  }
  .item-data {
    text-align: left;
    max-width: 50%;
  }
  .item-img img {
    height: 30vmin;
  }
  .cart-controls {
    left: 0;
    bottom: 0;
    flex-direction: row;
    margin: 25px;
    height: 32px;
  }
  .cart-controls button {
    font-size: 0.7em;
    padding: 0 15px;
    white-space: nowrap;
    color: transparent;
  }
  .cart-controls button:before {
    color: white;
  }
  .cart-add {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .cart-add:before {
    content: "Legg til i handlekurven";
  }
  .cart-add:hover {
    background: #00A651;
  }
  .cart-remove {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .cart-remove:before {
    content: "Fjern fra handlekurven";
  }
  .cart-remove:hover {
    background: #a60002;
  }
  .cart-val {
    width: 36px;
    height: 36px;
  }
  #shopping-cart {
    position: static;
    min-height: 25vh;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  #cart-control p {
    padding: 2.5% 5%;
  }
}

/*----TRIVIA SUBPAGE----*/
#trivia {
  align-items: flex-start;
}

#trivia span, #trivia span:before, #trivia span:after {
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

#trivia main {
  overflow: hidden;
}

#trivia h2 {
  display: flex;
  align-items: center;
  font-size: 2em;
  padding: 0;
  align-self: center;
  color: white;
  min-height: 100vh;
}

#trivia h2:after, #trivia h2:before {
  content: 'bla ned';
  position: absolute;
  margin-top: 1em;
  left: 50%;
  transform: translate(-50%) scale(0.6);
  text-transform: lowercase;
}

#trivia h2:before {
  content: '';
  background-image: url("../img/icons/down.svg");
  width: 36px;
  height: 36px;
  background-position: center;
  background-size: cover;
  margin-top: 2em;
  animation: scrollDown 1.4s infinite;
}

.parallax-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../img/bg.png");
  background-color: #EEE;
  min-height: 100vh;
}

.parallax-bg {
  position: relative;
}

.parallax-bg img {
  max-height: 100vmax;
}

#parallax-1 {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
}

#parallax-1:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #00A651;
  opacity: .2;
}

#parallax-6 a, #parallax-6 li:last-of-type {
  padding-bottom: 2.5vmin;
}

@media screen and (min-width: 960px) {
  #trivia header {
    position: relative;
    z-index: 1;
  }
  #trivia footer {
    min-height: 30vh;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
  #trivia main {
    min-width: 100%;
    min-height: 231vh;
  }
  #trivia main h2 {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #trivia main ul {
    justify-content: center;
  }
  #trivia main ul li {
    padding: 1vmin 10vmin;
  }
  .parallax-bg {
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
  }
  .parallax-bg img {
    min-width: 100vw;
  }
  .parallax-content {
    min-width: 100%;
    min-height: 57vh;
  }
  .parallax-bg, .parallax-content {
    top: 100%;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (min-width: 1220px) {
  #trivia main ul li {
    padding: 1vmin 25vmin;
  }
}

@media screen and (min-width: 1440px) {
  #trivia main ul li {
    padding: 1vmin 40vmin;
  }
}

/*----/TRIVIA SUBPAGE----*/
/*----MONTERING SUBPAGE----*/
#assembly {
  overflow: hidden;
}

#assembly-intro {
  max-width: 80%;
}

#assembly-controls, #prog-bar {
  display: flex;
  flex-direction: row;
}

#prog-bar li:hover {
  cursor: pointer;
}

#prog-bar li {
  box-shadow: 0px 0px 2px black;
  border-radius: 2px;
  padding: 10px 2vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

#prog-bar, #assembly-btn-next, #assembly-btn-back {
  display: flex;
}

.assembly-content {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80%;
  background: white;
  color: black;
  padding: 20px;
  border: 1px solid #e9e9e9;
  animation: slideInRight 1s forwards;
  height: 45vh;
  overflow-y: scroll;
}

#assembly-btn-next, #assembly-btn-back {
  box-shadow: 0px 0px 3px black;
  border-radius: 3px;
  margin: 0px;
  color: white;
  background: #444;
}

#assembly-btn-back:before {
  content: '';
  background-image: url("../img/icons/left.svg");
  background-size: cover;
  height: 16px;
  width: 16px;
}

#assembly-btn-next:after {
  content: '';
  background-image: url("../img/icons/next.svg");
  background-size: cover;
  height: 16px;
  width: 16px;
}

.assembly-content p {
  margin: 5px 0px 15px 0px;
  padding: 0px;
}

.assembly-content ul li {
  padding: 0px 0px 30px 0px;
}

.prog-bar-element {
  background: #f7f7f7;
}

.prog-bar-element-active {
  background: #00A651;
  color: white;
}

/*----MONTERING SUBPAGE----*/
/*----ABOUT SUBPAGE----*/
#about p a {
  padding-left: 5px;
}

#about section:first-of-type {
  padding: 0 10vmin;
}

#sjef {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sjef img {
  border-radius: 50%;
  padding: 5px 0;
  height: 128px;
  width: 128px;
}

.sjef {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.5vmin;
}

@media screen and (min-width: 580px) {
  #about section:first-of-type {
    justify-content: center;
    align-items: center;
  }
  #sjef {
    justify-content: center;
    align-items: center;
    min-width: 100%;
    margin-bottom: 5vmin;
    flex-direction: row;
  }
  .sjef {
    padding: 0;
  }
  .sjef:first-child {
    margin-right: 20%;
  }
}

@media screen and (min-width: 960px) {
  #about section:first-of-type {
    padding: 0 2.5vmin;
  }
  #about #sjef {
    justify-content: space-around;
  }
  #about .sjef {
    margin: 0 !important;
  }
}

@media screen and (min-width: 1280px) {
  #about main {
    border-left: 1px solid #00A651;
    border-right: 1px solid #00A651;
  }
}

/*----/ABOUT SUBPAGE----*/
/*------------------------------------------------------------------------
-------------------------------MEDIA QUERIES------------------------------
------------------------------------------------------------------------*/
@media screen and (max-width: 960px) {
  footer {
    position: relative;
    z-index: 1000;
    border-top: 1px solid black;
    max-height: 48px;
    padding: 0px;
  }
  #footer-desktop {
    display: none;
  }
  #footer-mobile {
    display: flex;
  }
  .home-footer {
    box-shadow: none;
  }
}

@media screen and (max-width: 960px) and (orientation: landscape) {
  footer {
    min-height: 36px;
  }
}
