//output:../index.html
doctype html
html(lang='no')
head
  title Velkommen til gabionbutikken.no
  include modules/head.html
body

  include modules/header.html

  section
    h2 Velkommen til gabionbutikken.no!

  include modules/footer.html

  script(type="text/javascript" src="assets/js/homepage.js")
