footer{
  width: 100%;
  background: $accent-color-2;
  padding: 8px 0;
  >ul{
    display: flex;
    justify-content: space-around;
    >li{
      background-size: 36px;
      background-position: center;
      background-repeat: no-repeat;
      width: 48px;
      height: 48px;
      overflow: hidden;
      div{
        display: none
      }
      &:first-child{background-image: url('../img/icons/location.svg')}
      &:nth-child(2){background-image: url('../img/icons/mail.svg')}
      &:last-child{background-image: url('../img/icons/phone.svg')}
      a{
        color: transparent;
        display: flex;
        height: 48px;
      }
    }
  }
}

@media screen {
  @media (min-width: 640px){
    footer{
      padding: 0;
      >ul>li{
        background-size: 24px;
      }
    }
  }
  @media (min-width: 1100px){
    footer{
      padding: 24px 0;
      box-shadow: 0 0 10px black;
      >ul{
        align-items: center;
        >li{
          display: flex;
          width: auto;
          height: auto;
          background:none !important;
          &:before{
            content:'';
            background-position: center;
            position: absolute;
            width: 16px;
            height: 16px;
            margin-left: -20px;
            margin-top: 4px;
          }
          &:first-child:before{
            background-image: url('../img/icons/location.svg');
            background-size: cover;
          }
          &:nth-child(2):before{
            background-image: url('../img/icons/mail.svg');
            background-size: cover;
          }
          &:last-child:before{
            background-image: url('../img/icons/phone.svg');
            background-size: cover;
          }

          div{
            display:block;
            color: $light-color;
          }
          a{
            height: auto;
            color: $accent-color-1;
          }
          ul{
            display: flex;
            flex-direction: column;
            li{
              height: auto;
              display: flex;
            }
          }
        }
      }
    }
  }
}
