//compileNested: ../base.css


// VARIABLES

$accent-color-1: #00A651;
$accent-color-2: #333;
$accent-color-3: #444;




// IMPORT EVERYTHING
@import "basics/animations";
@import "basics/elements";
@import "basics/reset";
@import "basics/typography";

@import "modules/footer";
@import "modules/navigation";

@import "subpages/home";
@import "subpages/products";
@import "subpages/trivia";
@import "subpages/montering";
@import "subpages/about";

@import "basics/mediaqueries";
